---
---

table {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

tr {
  background-color: rgb(230, 230, 230);
}

tr[category='Military'] {
  background-color: rgb(255, 88, 88);
}

tr[category='Treasury'] {
  background-color: gold;
}

tr[category='Wonders'] {
  background-color: goldenrod;
}

tr[category='Civilian'] {
  background-color: rgb(77, 144, 245);
}

tr[category='Commerce'] {
  background-color: rgb(255, 193, 78)
}

tr[category='Guild'] {
  background-color: rgb(190, 107, 190);
}

tr[category='Science'] {
  background-color: rgb(93, 158, 93);
}

input {
  width: 50px;
}

td {
  padding: 2px 5px;

  &:not(:first-child) {
    text-align: center;
  }
}