---
---

.safe {
  background-color: rgb(6, 184, 0);
}

.stair {
  background-color: rgb(169, 169, 169);
}

.beneficial {
  background-color: rgb(58, 211, 214);
}

.special-movement {
  background-color: rgb(107, 142, 35);
}

.computer {
  background-color: rgb(253, 196, 252);
}

.alarm {
  background-color: rgb(252, 64, 64);
}

.impediment {
  background-color: rgb(222, 176, 5);
}

.open-area {
  background-color: rgb(245, 242, 13);
}

table {
  border-collapse: collapse;
}

.room {
  display: flex;
  align-items: center;
  height: 45px;
  font: 1.2em Helvetica, sans-serif;

  div:first-child {
    padding: 0 10px;
  }
}

.out-of-game {
  background-color: transparent;
  text-decoration: line-through;
}

.card {
  width: 450px;
  display: flex;
  justify-content: center;
}

.column {
  width: 50%;
  display: flex column;
}

#container {
  display: flex;
  justify-content: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
