---
---

$alarm-color: rgb(252, 64, 64);

.safe {
  background-color: rgb(6, 184, 0);
}

.stair {
  background-color: rgb(169, 169, 169);
}

.beneficial {
  background-color: rgb(58, 211, 214);
}

.special-movement {
  background-color: rgb(107, 142, 35);
}

.computer {
  background-color: rgb(253, 196, 252);
}

.alarm {
  background-color: $alarm-color;
}

.impediment {
  background-color: rgb(222, 176, 5);
}

.open-area {
  background-color: rgb(245, 242, 13);
}

table {
  border-collapse: collapse;
}

.room {
  display: flex;
  align-items: center;
  height: 45px;
  font-size: 1.2em;

  div:first-child {
    padding: 0 10px;
  }
}

.out-of-game {
  background-color: transparent;
  text-decoration: line-through;
}

.card {
  width: 350px;
  display: flex;
  justify-content: center;
}

.column {
  width: 50%;
  display: flex column;
}

#root > div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: Helvetica, sans-serif;

  moz-user-select: none;
  webkit-user-select: none;
  ms-user-select: none;
  user-select: none;

  & > div {
    margin: 10px;
  }
}

$square-size: 60px;

.square {
  background-color: lightgray;
  width: $square-size;
  height: $square-size;
  font-size: 2em;
  color: white;
  border: 1px solid white;

  &.revealed {
    background-color: $alarm-color;
  }

  &:focus {
    outline: none;
  }
}
