---
---

.chart {
  .bars rect {
    fill: steelblue;
  }

  .correct-area rect {
    fill: lightgreen;
    opacity: 0.5;
    display: none;
  }

  &[show-correct='true'] {
    .bars rect.correct {
      fill: green;
    }

    .correct-area rect {
      display: unset;
    }
  }
}
