---
---

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  line-height: 1.4;
  display: flex;
  justify-content: center;
}

li {
  margin-bottom: 1rem;
}

@media screen and (min-width: 750px) {
  body {
    width: 750px;
    margin: 0 auto;
  }
}
