---
---

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  line-height: 1.4;
  display: flex;
  justify-content: center;
}

article {
  width: 60%;
}

li {
  margin-bottom: 1rem;
}
