input {
  margin: auto;
  display: block;
  width: 50%;
}

div#prompt {
  margin: auto;
  width: 50%;
}

div#spelling {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div.word {
  margin: 0px 20px;
}
