---
css_files:
  - css/style.css
---
<header>
	<img src="media/CemPortrait.jpg" alt="Cem's portrait" width="106" height="160">
	<h1>Cem Schemel</h1>
</header>

<p>I solve problems. Sometimes computers are involved. They are better than humans at some problems. I have them help us solve these problems, so we can move on to more important things.</p>

<h2>Projects</h2>

<div class="project">
  <h3>Radio Reference</h3>

  <p>My full last name is a mess (ask me about it). When I call customer support for anything I want to use the phonetic alphabet to spell it out precisely, but I can never remember the code words.</p>

  <p>I created an app where you can enter a word or phrase and get the code words for each of its letters. No more ambiguity when pulling up my account. It can also show you the whole phonetic alphabet and the meanings of Q-signals or other abbreviations related to radio.</p>

  <a href="https://apps.apple.com/us/app/radio-reference/id1583119869">
    <img src="media/app-store-bagde.svg" alt="App store badge"/>
  </a>
</div>

<div class="project">
  <h3>Burgle Bros Tracker</h3>
  <p><a href="https://www.fowers.games/collections/direct-price/products/burgle-bros">Burgle Bros</a> is a cooperative board game, where a team of thieves explore an office building to rob safes. The game provides a reference card showing how many of each tile is in the game. At any point you can count up the tiles you've explored so far, compare them with the reference card, and try to guess what the next tile you turn over will be. Similarly, you can look through the discarded patrol cards for each floor to deduce where the guard will go next.</p>

  <p>But counting tiles each time you want to guess the next one is tedious. So is laying out all the discarded patrol cards when planning your next move. Burgle Bros Tracker enables you to easily track all of this. It's a cross-platform app built using Swift and SwiftUI, and is available for the Mac, iPhone, and iPad. Spend less time counting tiles and more time enjoying the challenging game and the company of your friends.</p>

  <a href="https://apps.apple.com/us/app/burgle-bros-tracker/id1535737805">
    <img src="media/app-store-bagde.svg" alt="App store badge"/>
  </a>
</div>

<div class="project">
  <h3>Smooth Breath</h3>
  <p>Smooth Breath was born out of my desire to... just breathe. There are a lot of breathing and relaxation apps available but they all have many bells & whistles. I don't want to answer questions about my mood before I begin, keep a streak going, or watch forests in the background. I want to just set a rhythm and breathe. I couldn't find such an app so I made it. Sadly, the name "Just Breathe" was already taken.</p>

  <a href="https://apps.apple.com/us/app/smooth-breath/id1072267157">
    <img src="media/app-store-bagde.svg" alt="App store badge"/>
  </a>
</div>

<div class="project">
  <h3>3D printed scrubber holder</h3>
  <p>Not all problems are solved by code. I was fed up with the little puddles on our kitchen counter from water dripping off our dish scrubber, so I 3D printed a holder for it.</p>

  <button type="button" onclick="window.location.href='{% post_url 2020-09-14-sink-with-a-flaw %}'">Read about it</button>
</div>

<h2 id="writing">Writing</h2>

<p>I think writing is fascinating. You put some marks on a page, and people across time and space can read your ideas. It’s the closest thing we have to telepathy.</p>

{% for tag in site.tags %}
  <h3>{{ tag[0] | capitalize }}</h3>
  <ul>
    {% for post in tag[1] %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}

    {% if tag[0] == "thoughts" %}
      <li><a href="https://blog.polleverywhere.com/sharpening-the-axe/">Sharpening the axe</a> (post on the Poll Everywhere blog)</li>
      <li><a href="https://blog.polleverywhere.com/benefits-of-letting-your-employees-work-from-home/">7 benefits of letting your employees work from home</a> (post on the Poll Everywhere blog)</li>
      <li><a href="https://blog.polleverywhere.com/benefits-of-working-from-home/">11 benefits of working from home</a> (post on the Poll Everywhere blog)</li>
    {% endif %}
  </ul>
{% endfor %}

<h2>Contact</h2>
<p>Feel free to email me at <a href="mailto:koralcem@gmail.com">koralcem@gmail.com</a>. You can also find me on <a href="https://github.com/koralcem">GitHub</a> and <a href="https://www.linkedin.com/in/cemschemel/">LinkedIn</a>.</p>
