<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title | default: "Cem Schemel" }}</title>
    <meta name="author" content="Cem Schemel">

    {% if page.css_files %}
      {% for stylesheet in page.css_files %}
        <link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
      {% endfor %}
    {% endif %}

    {% if page.js_files %}
      {% for js_file in page.js_files %}
        <script src="{{ js_file }}" type="text/javascript" defer></script>
      {% endfor %}
    {% endif %}

  </head>
  <body>
    {{ content }}
  </body>
</html>
