<html>

</html>

<!doctype html>
<html lang="en">

<head>
  <!--
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  -->
  <title>Foo title</title>

  <link rel="stylesheet" href="css/maincss.css">
</head>

<body>

  <!-- <script src="js/newscript.js"></script> -->

  <h1>This is the default layout</h1>
  {{ content }}
  <h1>Bottom of default layout edited</h1>

  <img src="images/disney.jpg" alt="disney">

</body>

</html>